<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503033957117-lbuf99fdrn39c49lv0u9au34uf2jnunf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503033957117-lbuf99fdrn39c49lv0u9au34uf2jnunf</string>
	<key>API_KEY</key>
	<string>AIzaSyAlvKqnKRk-OOulh5jPTUQnyFVoDKkMEiU</string>
	<key>GCM_SENDER_ID</key>
	<string>503033957117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebaseMusicApp</string>
	<key>PROJECT_ID</key>
	<string>fb-musicapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-musicapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503033957117:ios:5a6d6a29bacbcba30e8c94</string>
</dict>
</plist>